.h_container {
  max-width: 100%;
  min-width: 100%;
  margin-top: 80px;

  .h_wrapper {
    min-width: 100%;
    display: flex;
    position: relative;

    .h_sidebar {
      width: 15%;
      position: relative;
    }
    .h_sidebar.active {
      width: 5%;
    }

    .h_main {
      border: 2px solid blue;
      min-width: 85%;
      height: 200vh;
      position: relative;
      overflow-x: scroll;

      .home {
        position: relative;
        .v_root {
          width: 100%;
          position: relative;
        }
      }
    }
    .h_main.active {
      width: 95%;
    }
  }
}
