@mixin button($padding) {
  outline: none;
  border-radius: 50%;
  padding: $padding;
  transition: 0.3s ease;
  border: 1px solid $bg-color;
  background-color: #ffffff;
  &:active {
    background-color: $active;
    border: 1px solid $active;
  }
}
