.s_container {
  position: fixed;
  top: 12%;
  left: 0;
  background-color: $bg-color;
  width: inherit;

  .s_wrapper {
    max-height: 90vh;
    overflow-y: auto;
    width: 100%;

    .s_rows {
      display: flex;
      flex-direction: column;
      position: relative;

      hr {
        opacity: 0.1;
      }

      .s_row {
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
          width: 100%;
          padding: 0.5rem 1.2rem;
          transition: 100ms ease;
          color: $text-color;

          &:hover {
            background-color: rgba($color: $grey100, $alpha: 0.1);
          }
        }
        a.active {
          background-color: rgba($color: $grey200, $alpha: 0.5);
        }
        img {
          padding-right: 1.5rem;
        }
        span {
          font-size: 0.875rem;
        }
        span.active {
          font-weight: 600;
        }

        .title {
          padding: 0.5rem 1.2rem;
          font-weight: 500;
          color: rgba($color: $grey500, $alpha: 1);
        }

        @media (max-width: 500px) {
          flex-direction: row;
          position: fixed;
          bottom: 0;
          left: 0;
          background-color: $bg-color;
          width: 100%;

          img {
            padding-right: 0rem;
          }
          span {
            font-size: 0.6875rem;
          }
          .title {
            font-weight: 400;
          }
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .s_row.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 0;
          margin-bottom: 0.5rem;

          img {
            padding-right: 0rem;
            width: 1.5rem;
          }
          span {
            font-size: 0.625rem;
          }
        }
      }
    }
  }
}
