$bg-color: #f9f9f9;

$text-color: #222222;
$text-color-light: #575757;
$primary: #ff0000;

$active: #e5e5e5;

$search-top: #f1f1f1;
$skeleton_thumbnail: #cccccc;

$grey900: #222222;
$grey800: #333333;
$grey700: #444444;
$grey600: #555555;
$grey500: #676767;
$grey400: #777777;
$grey300: #888888;
$grey200: #999999;
$grey100: #aaaaaa;
